.kh1 {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  color: #fff;
  font-size: 400%;
}

.kh2 {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  color: #fff;
  font-size: 400%;
}