/* style.css */
body {
 background-color: #333300;
 color: #FFFFFF;
}
h1 {
 color: #FF00FF;
 text-align: center;
 font: "Lucida Console", Monaco, monospace;
 font-size: 300%;
} 
}
p {
 background-color: #FFFF33;
 color: #333300;
 text-align: right;
 border: 3px groove #FFFF33;
}