/* style.css */
body {
 background-color: #333300;
 color: #FFFFFF;
}
h1 {
 font-family: "Comic Sans MS", cursive, sans-serif;
 font-size: 600%;
 color: #FF6600;
 text-align: center;
}
p {
 background-color: #FFFF33;
 color: #333300;
 text-align: right;
 border: 3px groove #FFFF33;
}